SERVER_PORT=9090
AUTH_SERVICE_BASE_URL=http://auth-service:7483
PROBLEM_SERVICE_URL=http://problem-service:8084
SUBMISSION_SERVICE_URL=http://submission-service:8080
JWT_PUBLIC_KEY_PATH=classpath:keys/public.pem
